@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #eeeeee;
    --cor-secundaria: #161A30;
    --cor-terciaria: #1c3953;
    --cor-fontes: #464646;
}

body {
    margin: 0px;
    background-color: var(--cor-primaria);
}

/* MAIN HEADER */

section.main .main__body__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
}

section.main .main__body__header {
    display: flex;
    align-items: center;
    margin-left: 152px;
}

section.main .main__body__header header{
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    gap: 8px;
    font-size: 16px;
    color: var(--cor-fontes);
}

section.main .main__body__header .main__header__buttons {
    display: flex;
    gap: 32px;

}

section.main .main__body__header .main__header__buttons{
    display: flex;
    font-family: "Raleway", sans-serif;
    gap: 32px;
    margin-right: 152px;
    font-size: 16px;
}

section.main .main__body__header .main__header__buttons a{
    text-decoration: none;
    color: black;
}

/* MAIN BODY */

.main__body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 66.5px;
    margin-left: 152px;
}

section.main .main__body .main__body_textos h1{
    font-family: "Raleway", sans-serif;
    font-size: 52px;
    font-weight: 700;
    text-align: left;
    color: var(--cor-fontes);
}

section.main .main__body .main__body_textos p{
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: left;    
    color: var(--cor-fontes);
}

section.main .main__body .profile__imagem{
    margin-right: 152px;
}

section.main .main__body .profile__imagem img{
    border-radius: 50%;
    width: 368px;
    height: 368px;
}


section.main .main__body .main__body__links{
    display: flex;
    flex-direction: row;
    font-family: "Raleway", sans-serif;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
    margin-top: 100px;
}

section.main .main__body .main__body__links a{
    text-decoration: none;
    color: black;
}

section.main .main__body .main__body__links a img{
    margin-left: 4px;
}

/* ABOUT SECTION */

section.about{
    background-color: var(--cor-secundaria);
    margin-top: 32px;
}

section.about .about__title{
    font-family: "Raleway", sans-serif;
    margin: 0px;
    font-size: 32px;
    font-weight: 700;
    padding-top: 64px;
    padding-left: 152px;
    text-align: left;
    color: white;
}

section.about .about__paragraph{
    width: 751px;
    margin: 0px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
    color: white;
    padding-left: 152px;
    padding-top: 32px;
}

section.about img{
    margin-left: 152px;
    padding-bottom: 64px;
    width: 200px;
}

/* SKILLS SECTION */

section.skills{
    color: var(--cor-fontes);
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

section.skills .skills__line{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

section.skills .skills__line .skills__box{
    background-color: white;
    width: 176px;
    height: 174px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: left;
}

section.skills .skills__line .skills__box li{
    list-style-type: none;
}

section.skills .skills__line .skills__box ul{
    padding: 0px;
}

section.skills .skills__line .skills__box .skills__img{
    display: flex;
    width: 24px;
    height: 37px;
    margin-top: 94px;
    margin-left: 16px;
    background-color: white;
}


section.skills .skills__line .skills__box .skills__img img{
    background-color: white;
    color: white;
}

section.skills .skills__line .skills__box .skills__name{
    display: flex;
    margin-top: 8px;
    margin-left: 16px;
}

/* FORMAÇAO SECTION */

section.formacao{
    margin-top: 88px;
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 88px;
}

section.formacao .formacao_title{
    margin-top: 82px;
    font-size: 32px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: var(--cor-primaria);
}

section.formacao .formacao_box_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    margin-top: 32px;
}

section.formacao .formacao_box_div img{
    background-color: rgb(255, 255, 255);
    width: 190px;
    height: 130px;
    padding-top: 78px;
    padding-bottom: 78px;
    padding-right: 89px;
    padding-left: 89px;
}

section.formacao .formacao_box_div h1{
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
}

section.formacao .formacao_box_div p{
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
}

/* PROJETOS SECTION */

section.projetos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
}

section.projetos h1{ 
    color: #464646;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
    margin-top: 32px;
}

section.projetos .box__dos__projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    gap: 54px;
}


section.projetos .box__dos__projetos .projetos__box{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 16px;
}

section.projetos .box__dos__projetos .projetos__box img{
    width: 752px;
    height: 406px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

section.projetos .box__dos__projetos .projetos__box .projetos__box__lateral{
    flex-direction: column;
}

section.projetos .box__dos__projetos .projetos__box .projetos__box__lateral .projetos__box__title{
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
}

section.projetos .box__dos__projetos .projetos__box .projetos__box__lateral .projetos__box__subtitle{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
}

section.projetos .box__dos__projetos .projetos__box .projetos__box__lateral .projetos__box__lateral__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

section.projetos .box__dos__projetos .projetos__box .projetos__box__lateral .projetos__box__lateral__buttons .botao_repositorio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    width: 116px;
    height: 51px;
    text-decoration: none;
}

section.projetos .box__dos__projetos .projetos__box .projetos__box__lateral .projetos__box__lateral__buttons .botao_demo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
    color: #ffffff;
    width: 116px;
    height: 51px;
    text-decoration: none;
}

/* CONTATOS SECTION */

section.contatos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--cor-primaria);
    height: 900px;
    margin-top: 32px;
    gap: 200px;
    background-color: var(--cor-secundaria);
}



section.contatos h1{
    color: var(--cor-primaria);
    font-family: "Raleway", sans-serif;
    display: flex;
    font-size: 32px;
}

section.contatos .contatos_display{
    display: flex;
    flex-direction: row;
}

section.contatos .contatos__form h1{
    color: var(--cor-primaria);
    border-radius: 10%;
    margin: 0px;
    margin-top: 125px;
}

section.contatos .contatos__form p{
    margin-top: 10px;
    color: var(--cor-primaria);
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    border-radius: 10%;
}

section.contatos .contatos__form .formcontato__form{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

section.contatos .contatos__form .formcontato__input{
    width: 656px;
    height: 56px;
}


.feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #ffffff;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }

  .feedback-input::placeholder{
    color: rgb(199, 199, 199);
  }
  
  .feedback-input:focus { border:2px solid #ffffff; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
    color: white;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#ffffff;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:rgb(0, 0, 0);
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#ffffff; }

  footer{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button_scrollup{
    position: fixed;
    display: flex;
    align-items: end;
    justify-content: end;
    bottom: 30px;
    right: 30px;
    border: 0;
  }
  .scroll_top_button{
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .scroll_top_button img{
    width: 15px;
    height: 15px;
  }